{% block ajaxTrack %}
<script>
    function ajaxTrack(id,exists) {
        $.ajax({
            type: "GET",
            url: "{{ path('integrated_profile_ajax_request') }}",
            data: {
                contentId: '123'
            },
            dataType: "json",
            success: function(response) {
                console.log(response);
            }
        });
    };
    ajaxTrack();
</script>
{% endblock %}