{% block profile %}

{% endblock %}

{% block javascripts %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

    {% javascripts '@IntegratedProfileBundle/Resources/public/js/script.js' %}

        <script src="{{ asset_url }}"></script>

    {% endjavascripts %}

{% endblock %}